.logo {
  width: 150px;
}

#rodape{
    background-image: url(imagem-fundo.png);
    background-color: #1c1c1c;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed; 
    bottom: 0; 
    width: 100%; 
}

.button {
    background: radial-gradient(circle, rgb(103, 168, 243), rgb(231, 7, 231));
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
}

.button:hover {
    transform: scale(1.050);
    background: radial-gradient(circle, rgb(103, 168, 243) 50%, rgb(231, 7, 231));
}

#body {
    font-family: arial;
    background-image: url(imagem-fundo.png);
    background-size: cover;
    
}

#header {
    background-color: #1c1c1c;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
}

#cabeçalho {
    font-size: 28px;
    font-weight: bold;
}
